.hg
.hgignore
.heap
.ipr
.iml
target
*.war
*.class
*.iws
*.logs
dev-filters.properties
src/main/app/node
src/main/app/node_modules
src/main/app/node_modules
src/main/app/dist
src/main/app/e2e 
src/main/app/.gitignore
src/main/app/README.md
src/main/app/src/assets/.gitkeep
src/main/app/src/environments/environment.ts
